@media screen and (min-width: 960px) and (max-width: 1279px) {
  #root {
    width: 960px;
  }

  .header {
    padding: 0 19px 0 20px;
    width: 960px;
    height: 68px;
    box-shadow: 0px 2.40027px 2.40027px rgba(12, 47, 136, 0.15);
  }
  
  .header img {
    width: 59px;
    height: 28px;
  }
  
  .header-nav {
    width: 347px;
  }

  .header-nav a {
    font-size: 12px;
    line-height: 16px;
  }

  .header-search {
    width: 295px;
    height: 28px;
  }

  .header-search button {
    width: 26px;
    background: #3F97FB url('../../img/search-icon.svg') no-repeat center;
    background-size: 14px;
  }

  .header-login_btn {
    width: 61px;
    font-size: 12px;
    line-height: 12px;
    background: url('../../img/user-icon.svg') no-repeat left;
    background-size: 16px;
  }
    
  .login-form {
    padding: 24px 32px 30px 32px;
    width: 288px;
    height: 309px;
  }
  
  .form-close {
    top: 9px;
    right: 9px;
    width: 14px;
    height: 14px;
    font-size: 16px;
  }
  
  .form-title {
    font-size: 16px;
    line-height: 22px;
  }
  
  .form-name,
  .form-password {
    font-size: 14px;
    line-height: 14px;
  }
  
  .form-name input,
  .form-password input {
      height: 32px;
  }
  
  .form-password a {
    font-size: 14px;
    line-height: 14px;
  }
  
  .form-btns {
      height: 67px;
  }

  .form-btns input:first-child {
    width: 224px;
    height: 36px;
    border-radius: 60.0462px;
    font-size: 14px;
    line-height: 14px;
  }
  
  .form-btns input:last-child {
    font-size: 14px;
    line-height: 14px;
  }

  .slide {
    height: 309px;
  }
    
  .slide-title {
    left: 2.08%;
    right: 58.54%;
    top: 7.24%;
    bottom: 73.06%;
    font-size: 30px;
    line-height: 29px;
  }
    
  .slide-cards {
      margin-top: 185px;
      width: 664px;
      height: 104px;
  }
  
  .slide-card {
      width: 208px;
  }
  
  .slide-card .info {
      padding: 11px 14px;
  }
  
  .card-title {
    font-size: 12px;
    line-height: 14px;
  }
  
  .card-content,
  .card-link {
    font-size: 10px;
    line-height: 14px;
  }

  .projects {
    margin: 0;
    padding: 71px 0 0 0;
    height: 475px;
    box-sizing: border-box;
  }
  
  .projects-title {
    display: none;
  }
  
  .project-card {
    width: 400px;
    height: 348px;
    filter: drop-shadow(0px 6.42656px 12.8531px rgba(16, 65, 187, 0.15));
  }
  
  .project-card .project-img {
      height: 244px;
  }
  
  .project-card .info {
      padding: 6px 16px 10px 16px;
  }

  .project-card .card-title {
    font-size: 18px;
    line-height: 25px;
  }
  
  .project-card .card-content,
  .project-card .card-link {
    font-size: 12px;
    line-height: 150%;
  }

  .footer {
    height: 87px;
  }
  
  .footer-nav {
    margin-bottom: 9px;
    width: 362.44px;
    height: 16.2px;
  }
  
  .footer-nav a {
    font-size: 12.0013px;
    line-height: 16px;
  }
  
  .footer-icons {
    width: 103.86px;
    height: 20px;
  }
  
  .footer-icons a {
    width: 20px;
    height: 20px;
  }

  .wrapper,
  .content {
    width: 820px !important;
    height: 348px !important;
    margin: 0;
    padding: 0;
  }

  .prev-btn,
  .next-btn {
      width: 30px;
      height: 30px;
  }

  .prev-btn {
      left: -50px;
  }

  .next-btn {
      right: -50px;
  }

  .auto-btn {
      top: 1%;
      right: -4%;
      font-size: 1.5vmin;
  }

  .auto-checkbox {
      width: 2vmin;
      height: 2vmin;
  }

  .slider-dots {
      bottom: -20px;
  }

  .dot {
      margin-right: 11px;
      width: 8px;
      height: 8px;
  }
    
}
